.header a.active {
    background-color: #FB5359;
    color: white;
  }
  .itemImg{
    border-bottom: 1px solid #ccc;
    }

    .remove{
      font-family: sans-serif;
      /* margin-top:6rem; */
      max-width: 100%
    }
    .priceData{
      font-family: sans-serif;
    }

    button.btn.btn-primary.rounded-0 {
      background: #FB641B;
      border-color: #FB641B;
  }

  /* DISABLE UP AND DOWN ARROW IN INPUT FIELD */
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}

input, select{
  outline:none;
}