.p{
    background: red;
    text-align: center;
}
/* .card{
    margin-left: 35%;
    position: relative;
    align-items: center;
    text-align:center;  
    width: fit-content;
    height: fit-content;    
} */

.formCss{    
    text-align: center;  
}

input, select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline:none;
}