@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Squada+One|Fira+Sans+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans Condensed','Bree Serif', serif, sans-serif !important ;
  font-family: 'Squada One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  overflow: hidden;
  background-color: #2874F0;
  padding: 7px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none !important;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  margin: 0 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
  text-decoration: none
}

.header a.active {
  background-color: #FB5359;
  color: white;
}

.header-right {
  float: right;
}


.hover-effect-demo:hover{
  transform: scale(0.95);
  transition: .2s ease-in-out
}